<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TurnoFlex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/style/home.css">  
</head>

<body>

<!-- TOP BAR -->
<div class="top-bar">
  <div class="logo">Mini Futbol</div>

  <div class="titulo">Turnos disponibles</div>

  <a href="/login" class="user-icon">👤</a>
</div>

<!-- SEMANA -->
<div class="week-bar">
  <span>&lt;</span>
  <span>13/10 AL 26/10</span>
  <span>&gt;</span>
</div>

<!-- HORARIOS -->
<div class="schedule">

  <% for (const dia in turnosPorDia) { %>
    <div class="day-column">

      <div class="day-title">
        <span class="day-name">
          <%= new Date(dia).toLocaleDateString('es-AR', { weekday: 'long' }) %>
        </span>
        <span class="day-date">
          <%= new Date(dia).getDate() %>/<%= new Date(dia).getMonth()+1 %>
        </span>
      </div>

      <div class="slots">
        <% turnosPorDia[dia].forEach(turno => { %>
          <div class="slot <%= turno.estado %>">
            <%= turno.turno %> A <%= Number(turno.turno) + 1 %> HS
          </div>
        <% }) %>
      </div>

    </div>
  <% } %>

</div>

</body>
</html>
